.label1 {
    -fx-background-style: solid;
    -fx-alignment: center;

    -fx-font-size: 12;
    -fx-font-family: "Monaco";
    -fx-font-weight: bold;

    -fx-text-fill: #4848ff;
    -fx-border-color: #DDDD;
    -fx-border-radius: 15px 50px; ;

}

.body {
    -fx-background-color: rgba(255, 255, 255, 0.87);
    -fx-border-color: #4848ff;
    -fx-border-style: solid;
    -fx-border-width: 7px;
}
.textfield{
    -fx-border-radius: 15px 50px;

}